.page[b-xldogl03hb] {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #c65b5b;
    background-image: url('https://media.cnn.com/api/v1/images/stellar/prod/2024-04-15t034527z-974414072-mt1usatoday23028678-rtrmadp-3-motorcycle-racing-motogp-red-bull-grand-prix-of-the-americas.JPG?c=original');
    background-size: cover;
    background-position: center;
    color: white; 
}

main[b-xldogl03hb] {
    flex: 1;
    color: white;
}

.sidebar[b-xldogl03hb] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
    color: white; 
    background-color:black; 
}

.top-row[b-xldogl03hb] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
    color: white; /* Ensure all text within .top-row is white */
   
}

    .top-row[b-xldogl03hb]  a, .top-row .btn-link[b-xldogl03hb] {
        white-space: nowrap;
        margin-left: 1.5rem;
        color: white; /* Ensure all text within links is white */
        background-color: black; /* Ensure background of all text is cyan */
    }

    .top-row a:first-child[b-xldogl03hb] {
        overflow: hidden;
        text-overflow: ellipsis;
        color: white; 
        background-color: black; 
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-xldogl03hb] {
        display: none;
    }

    .top-row.auth[b-xldogl03hb] {
        justify-content: space-between;
    }

    .top-row a[b-xldogl03hb], .top-row .btn-link[b-xldogl03hb] {
        margin-left: 0;
        color: white;
        background-color: black;
    }
}

@media (min-width: 641px) {
    .page[b-xldogl03hb] {
        flex-direction: row;
    }

    .sidebar[b-xldogl03hb] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-xldogl03hb] {
        position: sticky;
        top: 0;
        z-index: 1;
        color: white; 
        background-color: black; 
    }

    .top-row[b-xldogl03hb], article[b-xldogl03hb] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
        color: white; 
        background-color: black; 
    }
}
