@page "/Musics"

<div>

    <iframe style="border-radius:12px"  src="https://open.spotify.com/embed/track/5E6Nql4ZYXEN6Eowp0byVl?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy">

        width="300"
        height="380"
        frameborder="0"
        allowtransparency="true"
        allow="encrypted-media">
    </iframe>
</div>
<div>

    <iframe style="border-radius:12px"  src="https://open.spotify.com/embed/track/4WgViu9gw3qYOr3iF9OuLG?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"> 

        width="300"
        height="380"
        frameborder="0"
        allowtransparency="true"
        allow="encrypted-media">
    </iframe>
</div>
<div>

    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/5Fd57k6SVtzmddpHa5Axpv?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy">

        width="300"
        height="380"
        frameborder="0"
        allowtransparency="true"
        allow="encrypted-media">
    </iframe>
</div>

  <iframe style="border-radius:12px"  src="https://open.spotify.com/embed/artist/1Miwe0S1KiQu7zZhTYdtJV?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy">

        width="300"
        height="380"
        frameborder="0"
        allowtransparency="true"
        allow="encrypted-media">
    </iframe>




